@charset "utf-8";

/*
 | ------------------------------------------
 | Glide styles
 | ------------------------------------------
 | Here are slider styles
 | 
*/

.slider {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
/*鐩掑瓙甯﹀鍣�*/
.slides {
	height: auto;
	/* Simple clear fix */
	overflow: hidden;
	/**	
		 * Prevent blinking issue
		 * Not tested. Experimental.
		 */
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	/**
		 * Here is CSS transitions 
		 * responsible for slider animation in modern broswers
		 */
	-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.slide {
	height: auto;
	float: left;
	clear: none;
}
.slider-arrows {
}
.slider-arrow {
	position: absolute;
	display: block;
	margin-bottom: -20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 2em;
	background-color: #333;
	background-color: rgba(50,50,50,.3);
	border-radius: 50%;
}
.slider-arrow--right {
	bottom: 50%;
	right: 30px;
}
.slider-arrow--left {
	bottom: 50%;
	left: 30px;
}
/*
background:url(img/.png) no-repeat;
*/

.slider-nav {
	position: absolute;
	bottom: 30px;
}
.slider-nav__item {  
	width: 12px;
	height: 12px;
	float: left;
	clear: none;
	display: block;
	margin: 0 5px;
	background: #FFFFFF;
	border-radius: 100%;
}
.slider-nav__item:hover {
	background: #e06338;
}
.slider-nav__item--current {
	background: #e06338;
} 

.box {
	width: 100%;
	height: auto;
	line-height: 5;
	text-align: center;
	font-size: 5em;
	color: #fff;
	text-transform: capitalize;
	vertical-align: middle;
}




a:hover{
	color: #D83C06;
}
.chooseAddress{
	background: #FFFFFF;
}
#hot {
	width: 1200px;
	line-height: 14px;
	margin: 0 auto;
	text-align: left;
	overflow:hidden
}

#hot-title {
	width: 65px;
	float: left;
	margin-right: 15px;
	color: #ff552e;
	font-size: 14px;
	font-weight: 600;
	
	
}
.hot_city{
	width: 1120px;
}
a.hot-city {
	margin-right:20px;
	color: #666;
	font-size: 14px;
	float: left;
	margin-bottom: 15px;
}
a.hot-city:hover{
	color: #D83C06;
}
#content {
	width: 1200px;
	margin: 33px auto 0;
	text-align: left
}

#content-title {
	line-height: 16px;
	color: #555;
	font-size: 16px;
	font-weight: 600
}

#content-box {
	float: left;
	width: 1198px;
	margin-top: 23px;
	border: solid 1px #eee
}

.content-letter {
	float: left;
	border-bottom: solid 1px #eee;
	position:relative
}
.content-letter:last-child{
	border-bottom: 0;
}
.content-letter-panel {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	width: 40px;
	height: 100%;
	color: #999;
	font-size: 18px;
	font-weight: 700;
	background-color: #F7F7F7;
	text-align: center
}
.content-letter-panel span{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
}
.content-province {
	float: left;
	position: relative;
	z-index: 1;
	width: 1158px;
	padding-left: 40px;
}

.content-province-triangle {
	display: none;
	position: absolute;
	top: 50%;
	left: 39px;
	width: 7px;
	height: 10px;
	margin-top: -5px;
	background-image: url(../images/changecity_triangle.png);
	background-size: 100% 100%;
	background-repeat: no-repeat
}

.content-province-title {
	float: left;
	width: 1180;
	height: 100%;
	line-height: 46px;
	padding-left: 16px;
	color: #333;
	font-size: 16px
}

.content-cities {
	float: left;
	width: 1160px;
	padding: 12px 0;
	
	overflow: hidden
}

.content-city {
	display: inline-block;
	line-height: 25px;
	color: #333;
	font-size: 12px;
	margin: 0 12px
}

.content-letter-panle-hover {
	color: #fff;
	background-color: #D83C06
}

.content-province-hover {
	background-color: #f7f7f7
}

.content-province-triangle-hover {
	display: block
}

.clb {
	clear: both
}
/* 商品详情 */

.tb-pic a{display:table-cell;text-align:center;vertical-align:middle;}
.tb-pic a img{vertical-align:middle;width: 100%;}
.tb-pic a{*display:block;*font-family:Arial;*line-height:1;}
.tb-thumb{margin:20px 0 0;overflow:hidden;}
.tb-thumb li{float:left;height:48px;margin:0 12px 0 0;overflow:hidden;}
.tb-thumb li:last-child{margin-right: 0;}
.tb-s310, .tb-s310 a{height:300px;width:300px;display: block;}
.tb-s310, .tb-s310 img{max-height:300px;max-width:300px;}
.tb-s310 a{*font-size:271px;}
.tb-s40 a{*font-size:35px;}
.tb-s40, .tb-s40 a{height:48px;width:48px;display: block;}
.tb-booth{position:relative;z-index:1;}
.tb-thumb .tb-selected{height:48px;border: 1px solid #D83C06;}
.tb-thumb .tb-selected div{background-color:#FFFFFF;border:medium none;}
.tb-thumb li div{border:1px solid transparent;}


#links {
	position: relative;
	width: 100%;
	clear: both;
	background: #FFFFFF;
	padding-bottom: 20px;
}
#links .djk-container{
	border: 1px solid #EEEEEE;
}
#links .linksTopline {
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 134;
	display: block;
	width: 1200px;
	height: 2px;
	background: #D83C06;
	font-size: 0;
	line-height: 0
}

#links a {
	color: #666
}

#links a:hover {
	color: #D83C06
}

.b-left {
	width: 150px;
	margin-right: 15px;
	float: left;
	line-height: 24px;
	text-align: right
}

.b-left h2 {
	font-weight: 400
}

.b-right {
	width: 1000px;
	float: right;
	line-height: 24px
}

.b-ul li {
	display: inline-block;
	float: left;
	width: 156px;
	margin-right: 10px;
	line-height: 25px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.b-you li {
	display: inline-block;
	float: left;
	line-height: 24px;
	margin-right: 10px;
	white-space: nowrap
}

.djk_links {
	clear: both;
	padding: 14px 15px 10px;
	border-top: 1px dotted #eee;
	color: #666;
	font-size: 12px
}

.djk_links:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: visible
}

.relateSelect {
	position: relative;
	line-height: 24px;
	overflow: hidden;
	padding-bottom: 44px;
	zoom: 1
}

.relateSelect dt {
	height: 24px;
	text-align: center;
	float: left;
	cursor: pointer;
	margin: 0 3px 10px 0;
	border: 1px solid #EEEEEE;
	padding: 0 8px 0 7px;
	width: auto
}

.relateSelect dt.select {
	background: #D83C06;
	color: #FFFFFF;
	position: relative;
	z-index: 2;
	/* border: 1px solid #999 */
}

.relateSelect dd {
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	width: auto;
	height: 44px;
	overflow: hidden
}

.relateSelect dd a {
	margin-right: 1em;
	height: 22px;
	float: left;
	white-space: nowrap
}

.relateSelect dt span {
	white-space: nowrap
}

.friendtips {
	line-height: 24px
}

.friendlink strong {
	float: left;
	font-weight: 300;
	margin-right: 10px;
	line-height: 24px
}

.friendlink a {
	float: left;
	margin-right: 10px;
	line-height: 24px;
	word-spacing: normal;
	word-break: keep-all
}

.list-tabs .act_hint0 {
	background: 0 0;
	margin-left: 10px;
	display: block
}









